<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>全部</key>
	<dict>
		<key>动画</key>
		<integer>19</integer>
		<key>音乐</key>
		<integer>20</integer>
		<key>游戏</key>
		<integer>21</integer>
		<key>其他</key>
		<integer>22</integer>
		<key>影视</key>
		<integer>23</integer>
		<key>新番</key>
		<integer>24</integer>
	</dict>
	<key>动画</key>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>childClassify</key>
		<array>
			<dict>
				<key>name</key>
				<string>mad.amv.gmv</string>
				<key>id</key>
				<integer>28</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>mmd.3d</string>
				<key>id</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>原创.配音</string>
				<key>id</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>综合.周边.其他</string>
				<key>id</key>
				<integer>29</integer>
			</dict>
		</array>
	</dict>
	<key>音乐</key>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>childClassify</key>
		<array>
			<dict>
				<key>name</key>
				<string>acg音乐</string>
				<key>id</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>翻唱.原唱</string>
				<key>id</key>
				<integer>31</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>舞蹈</string>
				<key>id</key>
				<integer>37</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>vocaloid.utau</string>
				<key>id</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>演奏.乐器</string>
				<key>id</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>op.ed.ost.角色歌 </string>
				<key>id</key>
				<integer>88</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>live.声优相关</string>
				<key>id</key>
				<integer>52</integer>
			</dict>
		</array>
	</dict>
	<key>游戏</key>
	<dict>
		<key>childClassify</key>
		<array>
			<dict>
				<key>name</key>
				<string>游戏影像</string>
				<key>id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>网络游戏</string>
				<key>id</key>
				<integer>34</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>单机游戏</string>
				<key>id</key>
				<integer>44</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>电子竞技</string>
				<key>id</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>家机.掌机.手机</string>
				<key>id</key>
				<integer>42</integer>
			</dict>
		</array>
		<key>id</key>
		<integer>21</integer>
	</dict>
	<key>其他</key>
	<dict>
		<key>childClassify</key>
		<array>
			<dict>
				<key>name</key>
				<string>喜闻乐见</string>
				<key>id</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>娱乐鬼畜</string>
				<key>id</key>
				<integer>32</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>科技数码</string>
				<key>id</key>
				<integer>57</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>运动.体育</string>
				<key>id</key>
				<integer>61</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>军事情报</string>
				<key>id</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>宠物.猫.狗</string>
				<key>id</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>id</key>
		<integer>22</integer>
	</dict>
	<key>影视</key>
	<dict>
		<key>childClassify</key>
		<array>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>name</key>
				<string>电视剧</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>name</key>
				<string>电影</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>name</key>
				<string>综艺娱乐</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>name</key>
				<string>完结剧集</string>
			</dict>
		</array>
		<key>id</key>
		<integer>23</integer>
	</dict>
	<key>新番</key>
	<dict>
		<key>childClassify</key>
		<array>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>name</key>
				<string>连载新番</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>name</key>
				<string>天朝出品</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>name</key>
				<string>oad.ova.剧场版</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>name</key>
				<string>完结番组</string>
			</dict>
		</array>
		<key>id</key>
		<integer>24</integer>
	</dict>
</dict>
</plist>
